<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shopping Cart</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/home">Home</a></li>
      <li><a routerLink="/signup">Signup</a></li>
      <li><a href="/pipes">Angular Pipes</a></li>
      <li><a href="/forms">Angular Forms</a></li>
      <li><a href="/quizs">Quiz Questions Service Call</a></li>
    </ul>
  </div>
</nav>

<!-- <app-home></app-home>
<app-signup></app-signup> -->

<router-outlet></router-outlet>